body {
    background-color: rgb(134, 5, 5);
    color: rgb(0, 0, 0);
}
.will {
    position: absolute;
    top: 22;
    left: 40;
    width: 60px;
    height: 60px;
    border-radius: 10px;
}
header {
    background-color: rgb(0, 0, 0);
    color: rgba(245, 245, 245, 0.699);
    font-size: 40px;
    text-align: center;
    border-radius: 0 0 60px 60px;
}
.texto {
    margin-left: 19em;
    color: white;
    width: 60%;
    top: auto;
    left: 28%;
}
.texto:hover {
    background-color: rgba(0, 0, 0, 0.658);
    border: 10px solid rgb(0, 0, 0);
    border-radius: 20px;
}
body {
    background-color: rgb(134, 5, 5);
    color: rgb(0, 0, 0);
}
.will {
    position: absolute;
    top: 22;
    left: 40;
    width: 60px;
    height: 60px;
    border-radius: 10px;
}
header {
    background-color: rgb(0, 0, 0);
    color: rgba(245, 245, 245, 0.699);
    font-size: 40px;
    text-align: center;
    border-radius: 0 0 60px 60px;
}
.texto {
    margin-left: 19em;
    color: white;
    width: 60%;
    top: auto;
    left: 28%;
}
.texto:hover {
    background-color: rgba(0, 0, 0, 0.658);
    border: 10px solid rgb(0, 0, 0);
    border-radius: 20px;
}
main {
    background-color: rgba(170, 170, 170, 0.274);
    flex: 1;
    color: white;
}
.produtos {
        text-align: center;
        color: white;
        font-size: 30px;
        background-color: rgb(0, 0, 0);
        min-width: 10%;
        position: absolute;
        border-radius: 20px;
        left: 44%;
}
.produtos-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 70px 0;
    color: white;
    
}
.produto {
    align-items: center;
    text-align: center;
    margin: 5%;
    width: 10%;
    font-family: "Barlow Condensed", sans-serif;
}
.produto:hover {
    background-color: rgba(255, 84, 84, 0.541);
    border-radius: 10px;

}

.produto img {
    position: relative;
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.produto img:hover::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(145, 145, 145, 0,5);
    border-radius: 10px;
    pointer-events: none;
}
.produto a {
    color: white;
}
.footer-content {
    background-color: rgb(0, 0, 0);
    color: rgb(165, 165, 165);
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 99%;
    border-radius: 30px 30px 0 0;
}