<html>
    <head>
        <title>Magazine Luzia</title>
        <link href="../models/estilo.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        
        <header>
            <h1>Magazine Luzia</h1>
            <img src="../models/will.png" class="will">
        </header>
        <nav>

            <a href="Atendimento.html" class="texto">Atendimento</a>
            <a href="Meus pedidos.html" class="texto">Meus pedidos</a>
            <a href="Produtos em oferta.html" class="texto">Produtos em oferta</a>
            <a href="entre.html" class="texto">entre em contato conosco</a>
        </nav>
        <main>
            <h1 class="Produtos">Produtos</h1>
        </main>
    <footer>
    </footer>
    </body>
</html>