<html>
    <head>
        <title>Magazine Luzia</title>
        <link href="../models/estilo.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        
        <header>
            <h1>Magazine Luzia</h1>
        </header>
        <nav>
            <a href="Atendimento.html">Atendimento</a><br>
            <a href="Meus pedidos.html">Meus pedidos</a><br>
            <a href="Produtos em oferta.html">Produtos em oferta</a>
        </nav>
    <h1></h1>
    <footer>


        <p> Fale Cu Nois </p>

    </footer>
    </body>
</html>