<html>
    <head>
        <title>Valvet Darkness</title>
        <link href="../models/sombra.css" rel="stylesheet" type="text/css">
        <link rel="icon" href="../models/images.png" type="image/x-icon">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    </head>
    <body>
        
        <header>
            <h1>Velvet Darkness  </h1>
            <a href="index.html"><img src="../models/will.png" class="will"></a>
        </header>
        <nav>

            <a href="Atendimento.html" class="texto">Atendimento</a>
            <a href="Meus pedidos.html" class="texto">Meus pedidos</a>
            <a href="Produtos em oferta.html" class="texto">Produtos em oferta</a>
            <a href="entre.html" class="texto">entre em contato conosco</a>
        </nav>
        <main>
            
        </main>
        <footer>
            <div class="footer-content">
                <p>&copy; 2025 Velvet Darkness - Todos os direitos reservados.</p>
                <p>Siga-nos nas redes sociais:</p>
                <a href="https://www.instagram.com" target="_blank">Instagram</a>
                <a href="https://www.facebook.com" target="_blank">Facebook</a>
                <a href="https://www.twitter.com" target="_blank">Twitter</a>
            </div>
        </footer>
    </body>
</html>